{% extends 'index.html' %}
{% block insert %}
<button>Add Song</button>
{% endblock insert %}
{% block play %}
<div class="row m-2">
	<div class="col-md-4" >
		<div class="card shadow-lg" style="width: 350px;" id="cardcolor">
			<img src="{{song.album.url}}" class="card-img" height="400px" id="albumpic">
			<div class="card-body">
				<marquee><p class="card-info">{{song.title}}</p></marquee>
				<audio autoplay controls >
                <source src="{{song.song.url}}" type="audio/mp3">
             </audio>
			</div>
		</div>
	</div>
</div>

{% endblock play %}